[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug
	shallow = true
[submodule "shell/ohmyzsh"]
	path = shell/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
	shallow = true
[submodule "vim/astronvim"]
	path = vim/astronvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule "shell/dracula"]
	path = shell/dracula-zsh
	url = https://github.com/dracula/zsh.git
[submodule "shell/zsh-syntax-highlighting"]
	path = shell/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "shell/dracula-kitty"]
	path = shell/dracula-kitty
	url = https://github.com/dracula/kitty
