use Net::Netrc;

$match = Net::Netrc->lookup('mail.mozilla.com');
$login = $match->login();
$password = $match->password();

$ldap_server = 'ldaps://addressbook.mozilla.com:636';
$search_base = 'dc=mozilla';
$ldap_search_fields    = 'givenname sn cn mail';
$ldap_expected_answers = 'givenname sn cn mail mobile';
$ldap_result_email     = '${mail}';
$ldap_result_realname  = '${givenname} ${sn}';
$ldap_result_comment = '${mobile}';
$ignorant = 1;
$ldap_bind_dn = "mail=${login},o=com,dc=mozilla";
$ldap_bind_password = $password;
# warning this database will erase default script builtin
%ldap_server_db = (
  'mozilla' => [
        $ldap_server,
        $search_base,
        $ldap_search_fields,
        $ldap_expected_answers,
        $ldap_result_email,
        $ldap_result_realname,
        $ldap_result_comment,
        $ignorant,
        $ldap_bind_dn,
        $ldap_bind_password
    ]
);

1;
